* {
	font-family: sans-serif;
}

a:hover {
	text-decoration: none;
}

.first-section {
	background-image: url("../images/services/images/apple-camera-lens-computer-desk-577560.jpg");
	background-size: cover;
	background-position: bottom right;
	/* height: 90vh; */
	height: 38rem;
}

.first-section .container h3 {
	line-height: 1.2;
	font-family: "Raleway", sans-serif;
}

.first-section .first-section-buttons a {
	font-family: "Jost", sans-serif;
	font-weight: 400;
	position: relative;
	background-color: #ff4800;
	padding: 10px 20px;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	overflow: hidden;
}
.first-section .first-section-buttons a::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	border-radius: 0.2rem;
	transform-origin: center;
	transform: translateX(-100%) rotateZ(-60deg);
	transition: transform 400ms ease-in-out;
}
.first-section .first-section-buttons a:hover:before {
	transform: translateX(100%) rotateZ(-60deg);
}
.first-section .first-section-buttons a:hover {
	color: white;
}

@media screen and (max-width: 991px) {
	.first-section {
		padding-left: 1rem;
		height: 300px;
	}

	.first-section .container div {
		font-size: 1.4rem;
	}

	.first-section .first-section-buttons a {
		padding: 5px 8px;
	}
}

/* ******************about us section ****************** */

.second-section .about-us {
	display: grid;
	grid-template-columns: 5fr 4fr;
	text-align: center;
	grid-template-areas:
		"about-heading about-image"
		"about-text about-image";
	gap: 25px;
}

.about-us .heading {
	grid-area: about-heading;
	color: #1e3957;
	position: relative;
	font-size: 1.5rem;
	font-weight: 600;
}
@media screen and (max-width: 420px) {
	.about-us .heading {
		font-size: 1rem;
	}
}
.about-us .heading::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	width: 35vmin;
	height: 2px;
	background-color: #07999f;
}

.about-us .image {
	grid-area: about-image;
	filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.162));
}

.about-us .image img {
	width: 100%;
	height: auto;
}

.about-us .text {
	grid-area: about-text;

	font-size: 0.84rem;
	line-height: 1.3;
}

@media screen and (max-width: 991px) {
	.second-section .about-us {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"about-heading"
			"about-image"
			"about-text ";
	}
	.about-us .image img {
		max-width: 300px;
		min-width: 200px;
		height: auto;
	}
}

/* ************************** Web Development Services *********************************** */

.web-services {
	background-color: #1e3957;
}

.web-services h3 {
	position: relative;
	color: #ff4800;
}

.web-services h3 span {
	color: white;
}

.web-services h3::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 35vmin;
	height: 2px;
	background-color: white;
}

.web-services .container-fluid {
	display: grid !important;
	grid-template-columns: 1fr 5fr minmax(350px, 1fr);
	justify-items: center;
	overflow: hidden;
}

.web-services .content {
	grid-column-start: 2;
	background-color: white;
	width: 100%;
	height: auto;
	max-width: 750px;
	border-radius: 50px;
}

.web-services .content h4 {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #1e3957;
}

.web-services .content p {
	font-size: 0.9rem;
}

.web-services .tab-wheel {
	width: 350px;
	height: 350px;
	position: relative;
}

.web-services .tab-wheel .main-wheel {
	width: 350px;
	height: 350px;
	position: absolute;
	left: 60%;
	top: 50%;
	border: 1px dashed white;
	border-radius: 50%;
	transform: rotate(0deg) translateY(-50%);
	transition: all 400ms ease-in-out;
}

.web-services .tab-wheel .big-ball {
	width: 80px;
	height: 80px;
	background-color: #ff4800;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translateY(-50%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.web-services .tab-wheel .big-ball img {
	height: 50%;
	width: 50%;
}

.web-services .tab-wheel .big-ball::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 90px;
	width: 30px;
	height: 3px;
	background-color: #ff4800;
}
.web-services .tab-wheel .big-ball::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	border-right: 2px solid #ff4800;
	border-radius: 50%;
}

.web-services .tab-wheel .main-wheel .wball {
	width: 50px;
	height: 50px;
	background-color: #1e3957;
	border: 2px solid white;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	font-family: "Jost", sans-serif;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: -25px;
	transform-origin: 200px;
	cursor: pointer;
}
.web-services .tab-wheel .main-wheel .wball p {
	transform: translate(-10%, 30%) rotate(0deg);
}

.web-services .tab-wheel .main-wheel .wball:hover,
.web-services .tab-wheel .main-wheel .active {
	background-color: #ff4800;
	border: 1px solid #ff4800;
}

.web-services .tab-wheel .main-wheel .wball1 {
	transform: translateY(-50%) rotateZ(0deg);
}

.web-services .tab-wheel .main-wheel .wball2 {
	transform: translateY(-50%) rotateZ(51.43deg);
}

.web-services .tab-wheel .main-wheel .wball3 {
	transform: translateY(-50%) rotateZ(102.86deg);
}

.web-services .tab-wheel .main-wheel .wball4 {
	transform: translateY(-50%) rotateZ(154.29deg);
}

.web-services .tab-wheel .main-wheel .wball5 {
	transform: translateY(-50%) rotateZ(205.71deg);
}

.web-services .tab-wheel .main-wheel .wball6 {
	transform: translateY(-50%) rotateZ(257.14deg);
}

.web-services .tab-wheel .main-wheel .wball7 {
	transform: translateY(-50%) rotateZ(308.57deg);
}

@media screen and (max-width: 991px) {
	.web-services .container-fluid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 350px;
	}
	.web-services .content {
		grid-column-start: 1;
	}
	.web-services .tab-wheel {
		transform: rotate(90deg);
	}
	.web-services .tab-wheel .main-wheel .wball p {
		transform: translate(-10%, 30%) rotate(-90deg);
	}
}


/* *************************** Grid Section ********************* */

.grid-container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-auto-flow: row dense;
}

.grid-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

.grid-img{
	max-width: 100%;
	max-height: 100%;
}

.grid-img-1{
	grid-column: 1/2;
	grid-row: 1/4;
	width:100%;
	height: 100%;
}

.grid-img-2{
	grid-column: 2/3;
	grid-row: 1/2;
	width:100%;
	max-height: 100%;
}

.grid-img-3{
	grid-column: 2/3;
	grid-row: 2/4;
	width:100%;
	max-height: 100%;
}

.grid-img-4{
	grid-column: 3/4;
	grid-row: -2/3;
	width:100%;
	max-height: 100%;
}

.grid-img-5{
	grid-column: 3/4;
	grid-row: 3/4;
	width:100%;
	max-height: 100%;
}


/* *************************** Industries we Serve section ************************** */

.fourth-section {
	background-color: #1e3957;
}

.fourth-section .heading {
	font-size: 1.8rem;
	color: white;
}

.fourth-section .heading span {
	color: #07999f;
}

.fourth-section .heading span::after {
	content: "";
	position: absolute;
	transform: translate(-280px, 40px);
	margin-left: 70px;
	width: 100px;
	height: 2px;
	background-color: #07999f;
}

@media screen and (max-width: 576px) {
	.fourth-section .heading {
		font-size: 1.5rem !important;
	}

	.fourth-section .heading span::after {
		width: 100px;
		transform: translate(-250px, 35px);
	}
}

.industry-switching-tabs {
	height: 300px;
}
.ball-container {
	border: 2px dashed gray;
	height: 250px;
	min-width: 250px;
	max-width: 250px;
	border-radius: 50%;
	position: relative;
}
.industry-switching-tabs .ball {
	width: 25px;
	height: 25px;
	border-radius: 50px;
	background-color: #07999f;
	position: absolute;
	text-align: center;
	color: white;
	z-index: 10;
	cursor: pointer;
	/* left: 50%; */
	/* top: 50%; */
	/* transform: translate(-50%, -50%); */
}
.industry-switching-tabs .ball:hover {
	background-color: #ff6300;
	/* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.164)); */
}
.industry-switching-tabs .line {
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: #ff6300;
	top: 50%;
	left: 0;
	z-index: 1;
	transform-origin: 124px;
	transform: translateX(0%) rotateZ(90deg);
	/* transition: all 10ms; */
}
.industry-switching-tabs .line::after {
	content: "";
	position: absolute;
	right: -86%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border-left: 1px solid #ff6300;
	transform: translate(0%, -48%);
}

.industry-switching-tabs .ball-container .active {
	background-color: #ff6300;
}
.ball-container .ball1 {
	/* position: absolute; */
	left: 50%;
	top: 0;
	transform: translate(-50%, -15px);
}
.ball-container .ball2 {
	/* position: absolute; */
	right: 0;
	top: 0;
	transform: translate(0px, 50px);
}
.ball-container .ball3 {
	/* position: absolute; */
	bottom: 0;
	right: 0;
	transform: translate(0, -50px);
}
.ball-container .ball4 {
	/* position: absolute; */
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 15px);
}
.ball-container .ball5 {
	/* position: absolute; */
	left: 0;
	bottom: 0;
	transform: translate(0, -50px);
}
.ball-container .ball6 {
	/* position: absolute; */
	top: 0;
	left: 0;
	transform: translate(0, 50px);
}
.ball-container .c-ball {
	/* position: absolute; */
	border-radius: 50px;
	background-color: #ff6300;
	position: absolute;
	text-align: center;
	color: white;
	z-index: 10;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 60px;
}

.industry-desc-sec {
	height: 370px;
	position: relative;
}
.industry-desc-sec img {
	height: 100%;
	width: 270px;
	border: 3px outset lightgray;
	border-radius: 10px;
}
.industry-content {
	position: absolute;
	top: 50%;
	left: 12%;
	transform: translateY(-50%);
	max-width: 450px;
	background-color: #1e3957;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.658);
}
.industry-content span {
	font-size: 1rem;
	font-weight: bold;
}
.industry-content p {
	font-size: 0.8rem;
	text-align: justify;
}
.industry-content button {
	border: 0;
	background-color: #ff6300;
	color: white;
	padding: 8px 15px;
	border-radius: 6px;
	font-size: 0.9rem;
}

/* *************************** Our clients section ************************** */

#ourclients .heading {
	position: relative;
	font-size: 1.8rem;
	color: #ffffff;
}

#ourclients .heading span {
	color: #ff4800;
}

#ourclients .heading::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 35px);
	width: 100px;
	height: 2px;
	background-color: #ffffff;
}

@media screen and (max-width: 576px) {
	.fifth-section .heading {
		font-size: 1.5rem !important;
	}

	.fifth-section .heading span::after {
		width: 70px;
		transform: translate(-190px, 35px);
	}
}

/* *************************** our blog section ************************** */

.sixth-section .heading {
	font-size: 1.8rem;
	color: #1e3957;
	font-weight: 600;
}

.sixth-section .heading span {
	color: #07999f;
}

.sixth-section .heading span::after {
	content: "";
	position: absolute;
	transform: translate(-200px, 40px);
	margin-left: 70px;
	width: 100px;
	height: 2px;
	background-color: #07999f;
}

@media screen and (max-width: 576px) {
	.sixth-section .heading {
		font-size: 1.5rem !important;
	}

	.sixth-section .heading span::after {
		width: 60px;
		transform: translate(-160px, 35px);
	}
}

@media screen and (max-width: 768px) {
	.sixth-section .heading {
		font-size: 1.5rem !important;
	}

	.sixth-section .heading span::after {
		width: 60px;
		transform: translate(-160px, 35px);
	}
}

.cards {
	background-image: url("../images/card-image2.svg");
	background-size: cover;
	background-position: bottom center;
	width: 13rem;
	height: 20rem;
	background-color: white;
	display: flex;
	align-items: flex-end;
	border: 1px solid #ff4800;
	border-radius: 0.5rem;
	overflow: hidden;
	margin: 10px 0px;
}

@media screen and (max-width: 576px) {
}

.cards .body {
	background-color: rgba(255, 99, 0, 0.9);
	padding: 1rem;
	color: #ffffff;
	transition: all 200ms ease;
	transform: translateY(115px);
}

.cards .date {
	font-size: 0.6rem;
	display: none;
}

.cards .title {
	font-size: 0.9rem;
	font-weight: 600;
	padding-top: 10px;
}

.cards .decsription {
	font-size: 0.78rem;
	/* display: none; */
	opacity: 0;
	padding-top: 10px;
}

.cards .btn-read-more {
	font-size: 0.8rem;
	/* display: none; */
	opacity: 0;
	padding-top: 10px;
}

.cards .btn-read-more a {
	color: white;
}

.cards:hover .body {
	transform: translateY(5px);
}

.cards:hover .date,
.cards:hover .decsription,
.cards:hover .btn-read-more {
	display: block;
	opacity: 1;
}

/* *************************** clutch a coffee section ************************** */

.sixth-section {
	position: relative;
}

.sixth-section .coffee-div .contact-image {
	position: relative;
	z-index: 10;
	box-shadow: 0px 0px 10px #000000bd;
}
.coffee-div {
	width: 60vw;
	box-shadow: 0px 0px 10px rgba(65, 65, 65, 0.438);
}

.contact-form {
	background-color: white;
}
.input-container {
	width: 75%;
	position: relative;
	margin: auto;
}
.contact-form .contact-heading {
	color: #1e3957;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
}

.contact-form .form-control {
	position: relative;
	font-size: 0.7rem;
	height: 41px;
	text-align: center;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
	width: 100%;
	margin: auto;
	resize: none;
}
.contact-form .form-control::placeholder {
	color: rgb(201, 201, 201);
}

.contact-form .form-control:focus {
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
	border-color: #ced4da;
}
.contact-form .left-half,
.contact-form .right-half,
.contact-form .textarea-right-half {
	position: relative;
}
.contact-form .left-half::before {
	content: "";
	position: absolute;
	left: -30px;
	transform: translate(0px, 0px);
	height: 42px;
	width: 30px;
	border-radius: 50px 0px 0px 50px;
	border: 1px solid #ced4da;
	border-right: 0px;
	/* border-left: 1px solid grey; */
}

.contact-form .right-half::before {
	content: "";
	position: absolute;
	right: -30px;
	transform: translate(0px, 0px);
	height: 42px;
	width: 30px;
	border-radius: 0px 50px 50px 0px;
	border: 1px solid #ced4da;
	border-left: 0px;
	/* border-left: 1px solid grey; */
}

.contact-form .input-container textarea {
	height: 60px;
	padding: 20px;
}
.contact-form .textarea-right-half::before {
	content: "";
	position: absolute;
	top: 0;
	right: -30px;
	transform: translate(0px, 0px);
	border-radius: 0px 50px 50px 0px;
	border: 1px solid #ced4da;
	border-left: 0px;
	height: 60px;
	width: 40px;
}

@media (max-width: 1199px) {
	.contact-form .input-container textarea {
		height: 60px;
	}
	.contact-form .textarea-right-half::before {
		transform: translateY(0px) translateX(1px);
		height: 60px;
		width: 25px;
	}
}
@media (max-width: 450px) {
	.contact-form .textarea-right-half::before,
	.contact-form .right-half::before {
		transform: translateX(10px);
	}
	.contact-form .left-half::before {
		transform: translateX(-10px);
	}
}

.contact-form .file-input input {
	display: none;
}

.contact-form .file-input label {
	width: 130px;
	padding: 8px;
	font-size: 0.7rem;
	border: 1px dashed #ced4da;
	border-radius: 20px;
	display: block;
	text-align: center;
	cursor: pointer;
}

.contact-form .file-input .fas {
	font-size: 2rem;
	color: rgb(101, 213, 250);
	display: block;
}

.contact-form .recaptcha-div {
	margin: auto;
	width: 250px;
	border: 1px solid #ced4da;
}

.contact-form .get-quote {
	width: 170px;
	border: 0px;
	background-color: #ff4800;
	color: white;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 3px;
}

.sixth-section .dummy-div {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 400px;
	background-color: #1e3957;
	z-index: -1;
}
