footer {
	background-color: rgb(59, 59, 59);
}

footer .container .subscribe-div {
	width: 300px;
}
footer .container .quick-links {
	width: 200px;
}
footer .container .contact-info {
	width: 250px;
}
footer .container .services {
	width: 250px;
}

footer .subscribe-div div {
	width: 90%;
	color: white;
	font-size: 0.8rem;
}

footer .subscribe-div form {
	background-color: white;
	border-radius: 5px;
}

footer .subscribe-div form input {
	width: 60%;
	border: 0;
	font-size: 0.9rem;
}
footer .subscribe-div form input:hover,
footer .subscribe-div form input:focus {
	border: 0px solid transparent;
	outline: 0px;
}

footer .subscribe-div form button {
	width: 37%;
	border: 1px solid #ff6300;
	background-color: white;
	color: #ff6300;
	border-radius: 5px;
	font-size: 0.85rem;
}

footer .quick-links .quick-links-title {
	font-size: 1.2rem;
	color: white;
}

footer .quick-links div ul {
	list-style-type: none;
	padding: 0;
}

footer .quick-links div ul li a {
	color: white;
	font-size: 0.8rem;
}

footer .services .services-title {
	font-size: 1.2rem;
	color: white;
}

footer .services ul {
	list-style-type: none;
	padding: 0;
}

footer .services ul li {
	color: white;
	font-size: 0.8rem;
	line-height: 2.5;
}

footer .contact-info .contact-info-title {
	font-size: 1.2rem;
	color: white;
}

footer .contact-info i,
footer .contact-info a {
	color: white;
}

footer .contact-info a {
	font-size: 0.9rem;
}

footer .social-icons img {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

/* ********** Bottom Footer **********8 */

.bottom-footer {
	background-color: black;
	color: white;
	font-size: 0.8rem;
}

.bottom-footer a {
	color: white;
}
