#menubut {
	background-color: #07999f;
}
#menubut:hover {
	background-color: #ff6300;
}

#indusdiv3 .active {
	background-color: #ff4800;
}

.indusdiv1 {
	width: 310px;
	height: 330px;
	position: absolute;
	margin-top: 15px;
	border-radius: 10px;
}
#playicon{margin-left:122px;
	margin-top:-58px;

}
.indusdiv2 {
	width: 400px;
	height: 270px;
	background-color: #1e3957;
	position: absolute;
	margin-top: 60px;
	margin-left: 180px;
	border-radius: 10px;
}
#indusdiv3 {
	width: 300px;
	height: 300px;
	background-color: transparent;
	position: absolute;
	margin-top: 6%;
}
#indusdiv4 {
	width: 60px;
	height: 60px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
	margin-left: 38%;
	margin-top: 40%;
}
#indusdiv5 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-top: -60%;
}
#indusdiv6 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-left: 40%;
	margin-top: -13%;
}
#indusdiv7 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-left: 87%;
	margin-top: -14%;
}
#indusdiv8 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-top: 30%;
}
#indusdiv9 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-top: 30%;
	margin-left: 0px;
}
#indusdiv10 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-left: 42%;
	margin-top: -13%;
}
#indusdiv11 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-left: 87%;
	margin-top: -13%;
}
#indusdiv12 {
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	margin-left: 87%;
	margin-top: -58%;
}
.cursor {
	cursor: pointer;
}
@media only screen and (max-width: 800px){
#indusdiv3{
		  margin-top:173px;
		  margin-left:180px;
}

@media only screen and (max-width: 420px) {
	#indusimg1 {
		width: 230px;
		height: 320px;
	}
	#playicon{
		
		margin-left:118px;
	}
	#indusdiv1 {
		width: 240px;
		height: 340px;
	}
	.indusdiv2 {
		margin-left: 150px;
	}
	#indusdiv3 {
		width: 290px;
		height: 200px;
	}

	#indusdiv7 {
		margin-left: 220px;
	}
	#indusdiv11 {
		margin-left: 220px;
	}
	#indusdiv5 {
		margin-top: 50px;
	}
	#indusdiv12 {
		margin-left: 220px;
		margin-top: -120px;
	}
	#indusdiv4 {
		margin-left: 110px;
		margin-bottom: -190px;
	}
	#indusdiv3 {
		margin-top: 180px;
		margin-left: 55px;
		height: 80px;
	}
	#indusdiv9 {
		margin-top: 40px;
	}
	#indusdiv8 {
		margin-top: 40px;
	}
}

@media only screen and (max-width: 380px) {
	#indusimg1 {
		width: 230px;
		height: 320px;
	}
	#indusdiv1 {
		width: 240px;
		height: 340px;
	}
	.indusdiv2 {
		margin-left: 80px;
	}
	#indusdiv3 {
		width: 290px;
		height: 200px;
	}

	#indusdiv7 {
		margin-left: 220px;
	}
	#indusdiv11 {
		margin-left: 220px;
	}
	#indusdiv5 {
		margin-top: 50px;
	}
	#indusdiv12 {
		margin-left: 220px;
		margin-top: -120px;
	}
	#indusdiv4 {
		margin-left: 110px;
		margin-bottom: -190px;
	}
	#indusdiv3 {
		margin-top: 180px;
		margin-left: 30px;
		height: 80px;
	}
	#indusdiv9 {
		margin-top: 40px;
	}
	#indusdiv8 {
		margin-top: 40px;
	}
}
