body
{
	background-color: #efefef  !important;
}
.single-blog
{
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0,2);
	padding: 0px;
	margin-top: 0px;
	background-color: #fff;
}



/*
*
* =====================
* hovereff
* =====================
*
*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #07999F;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*
*
* =====================
* blog section
* =====================
*
*/











.single-blog img
{
	width: 100%;
}
.blog-meta
{
	
	font-size: 14px;
	margin-bottom: 2px;
}

.single-blog span
{
	
	float: right;
	font-size: 12px;
	color: cornflowerblue;
}

.blog-text
{
	
	font-size: 14px;
	text-align: justify;
}

.single-blog-h2
{
	margin-top: 10px;
	font-size: 16px
	color:#007bff;
} 

.single-blog h2 a
{
	
	text-decoration: none;
}
read-more-btn
{
	
	background-image: linear-gradient(to right, #1c03b5, #5c8bef);
	padding: 5px 12px 8px;
	border-radius: 20px;
	line-height: 20px;
	font-size: 14px;

	color: #fff;
	border: none!important;
}

read-more-btn:hover
{
	
	background-image: linear-gradient(to right, #006417, #00b128);
	text-decoration: none;
	color: #fff;
	

}



 .bs-example{
        margin: 20px;        
    }



 
.inner{
	overflow: hidden;
}

.inner img{
	transition: all 1.5s ease;
}


.inner:hover img{
	
	transform: scale(1.5);
}


